@import "../../SASS/const";

.wrap {
  color: rgba($dark, 0.2);
  font-size: 200px;
  position: relative;
  font-weight: 700;
  h3 {
    position: absolute;
    left: 0;
    top: calc(50% - 40px);
    font-size: 80px;
    margin: 0;
    width: 100%;
    color: $dark;
    text-align: center;
  }
}
