@import "../../SASS/const";
.df,
.cw,
.hf {
  transition: all 0.4s;
  color: $dark;
  &:hover,
  &:focus {
    background-color: rgba($blue, $alpha: 0.3);
    a {
      color: $dark - #444 !important;
    }
  }
}

.df .df {
  background: $blue;
  a {
    color: white !important;
  }
}
.cw .cw {
  background: $blue;
  a {
    color: white !important;
  }
}
.hf .hf {
  background: $blue;
  a {
    color: white !important;
  }
}

.tabs {
  display: flex;
  margin: 20px auto;
  width: 100%;
  justify-content: center;
  &:hover {
    background-color: transparent;
  }
  ul {
    width: auto;
    margin: 0 auto;
    align-items: center;
  }
}

.form {
  display: flex;
  > div {
    width: 100%;
  }
  button {
    margin: auto 0 auto 20px;
    line-height: 0;
    padding: 0;
    width: 44px;
    height: 40px;
    margin: 15px 0 15px 20px;
  }
}

@media all and (max-width: 600px) {
  .tabs {
    &:hover {
      background-color: transparent;
    }
    ul {
      flex-direction: column;
      height: auto;
    }
  }

  .form {
    > div {
      width: 80%;
    }
    button {
      margin: 15px 0 15px auto;
    }
  }
}

@media all and (max-width: 400px) {
  .form {
    > div {
      width: 70%;
    }
    button {
      margin: 15px 0 15px auto;
    }
  }
}
