.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 140%;
  p {
    padding-top: 20px;
  }
}

.wrap {
  padding: 40px 15px;
}

.title {
  font-size: 200% !important;
}

@media all and (max-width: 600px) {
  .body {
    grid-template-columns: 1fr;
    p {
      padding-top: 20px;
    }
  }

  .wrap {
    text-align: center;
    padding: 15px 0;
  }
}
