.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 10px;
  h2 {
    grid-column: span 2;
  }
  .form {
    display: grid;
    gap: 15px;
    transition: all 0.4s;
    grid-auto-rows: 85px;
    > div {
      height: 85px;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 2rem;
    grid-column: span 2;
  }

  .btns {
    display: flex;
    justify-content: space-between;
  }
}

.two .grid {
  grid-template-columns: repeat(2, 1fr);
}

.empty {
  form {
    grid-column: span 2;
  }
}
